body {
    background-color: grey;
}


#container{
    background-color: white;
     margin-left: 20%;
     margin-right: 20%;
}

table {
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
  
}

 table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }


th, td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
  text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

input[type = text]{
    border: 1px solid black;
    margin-top:2%;
}

input[type = file]{
     margin-top:2%;
}

input[type = submit]{
     margin-top:2%;
}

input[type = password]{
     margin-top:2%;
}